

<body>
  <footer class=" myfooter " style="height: 170px; ">
    <center><a href="https://www.instagram.com/selva_274 "><i class="fa-brands fa-instagram "></i></a>

        <a style="padding-left:60px " href="https://www.facebook.com/profile.php?id=100073782558031 "><i class="fa-brands fa-facebook " aria-hidden="true "></i></a>
<a style="padding-left:60px " href="https://www.linkedin.com/in/selvakumar-dharmalingam-552759227"<i class="fa-brands fa-linkedin"></i></a>
    </center> 
    <p style="text-align:center; padding-top:25px; "><i class="fas fa-copyright "></i> SKD Empire <small>2023</small></p>
</footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

